gunicorn
psycopg2-binary
pytz==2025.2
tzdata==2025.3
docutils
Django==6.*
django-extensions
djangorestframework
djangorestframework-simplejwt
drf-spectacular
django-environ
django-vite
django-admin-interface
django-storages[boto3]
Pillow
easy-thumbnails
django-filer
django-admin-sortable2
djangoql
markdown
django-tinymce
django-cotton
whitenoise
